body {background-color: rgb(255, 254, 237);}
h1 {font-family: 'Oswald', sans-serif; color: rgb(83, 192, 221); text-align: center; font-size: 25pt}
h3 {color: rgb(83, 192, 221) ; text-align: center;}
p {color: rgb(83, 192, 221); text-align: center;}
.h1 {font-family: 'Fira Sans', cursive;}
.comments {
  text-align: center;
  font-size: 30pt;
  font-family: 'Fira Sans';
  position: absolute
  color: rgb(83, 192, 221)

}
.imagemid {
  position: absolute;
  top: 300px;
  left: 480px;
}
.imageleft{
  position:absolute;
  top: 300px;
  left: 150px;
}
.imageright{
  position:absolute;
  top: 300px;
  left: 1200px;
}
.display-inline-block {
    display: inline-block;
}
.dropdown-item {
  width: auto;
  padding: 10px;
  display: block;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0;
    color: #000;
    background-color: rgb(83, 192, 221);
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-item {
  width: 150px;
  padding: 10px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(255, 245, 119);
  text-align: center;
  color:rgb(83, 192, 221) ;
  font-size: 15pt;
}
.Square6 {
display: inline;
position: fixed;
width: 300px;
height: 60px;
border: 5px rgb(228, 236, 142);
padding: 15px;
margin: 9px;
}
span{color: teal}
span:first-of-type{font-size: 15pt}



a{color:rgb(83, 192, 221)}
a:hover{font-size: 20pt}
